
.cadastro_form{
    width: 35vw;
    height: 60vh;    
    background-color: lightgray;
    border-style: solid;
    border-color: rgb(99, 97, 97);
    border-width: 2px;
    border-radius: 60px;
}


.cadastro_titulo{
    color: red;
}


.cadastro_campos{
    height: 9%;
    border-color: red;
    outline-color: red;
}


.cadastro_botao{
    background-color: red;
    color: white;
}

.cadastro_botao:hover{
    background-color: gray;
    color: white;
}

